@import url('https://fonts.cdnfonts.com/css/star-wars');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./assets/galaxia.jpg);
}

a{
    text-decoration: none;
}

header{
    height: 15vh;
    display: flex;
    padding: 2rem 4rem;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 500px;
    height: 100%;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img{
    width: 40%;
    height: auto;
}

.logo-text{
    font-family: 'Star Wars', sans-serif;
    font-size: 2rem;
    color: aliceblue;
}

.icones-social{
    width: 200px;
    display: flex;
    justify-content: space-between;
}

i{
    font-size: 2rem;
    color: yellow;
}

i:hover{
    color: aliceblue;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    color: rgb(251, 215, 11);
    font-family: 'Star Wars', sans-serif;
    margin: 40px 0;
    text-align: center;
    font-weight: 400;
}

@media (max-width: 920px) {
    header {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 650px) {
    .logo {
        flex-direction: column;
    }
}

.cards-container{
    width: 85%;
    background-color: rgba(74, 74, 74, 0.1);  
    backdrop-filter: blur(2px);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    gap: 20px;
}

.cards{
    width: 100%;
    max-width: 250px;
    height: 470px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
    padding: 5px;
}

.cards:hover{
    transform: scale(1.02);
}
.character-name-bg{
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.character-name{
    font-size: 1.1rem;
    padding: 10px;
    font-family: 'Star Wars', sans-serif;
    color: gold;
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

button{
    background-color: gold;
    width: 70px;
    height: 20px;
    color: rgba(0, 0, 0, 0.699);
    border-radius: 3px;
    border: 1px solid black;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}

button:hover{
    background-color: aliceblue;
    color: gold;
}

footer{
    display: flex;
    width: 100%;
    justify-content: end;
    flex-direction: column;
    height: 100px;
    align-items: center;
    row-gap: 30px;
}

p{
    color: aliceblue;
}

.footer-text{
    font-family: 'Star Wars', sans-serif;
    color: aliceblue;
    font-weight: 300;
}

.back-button{
    visibility: hidden;
}